.input{
    font-size: 300;
}

ion-item{
    --background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
}

.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subTitle{
        font-size: 0.9rem;
        color: gray;
    }
    .title{
        font-size: 2rem;
    }
}

.signupLink{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80%;
    right: 0;
    justify-content: center;

    p{
        font-size: 0.9rem;
    }
    a{
        text-decoration: none;
    }
}

.errorInput{
    color: red;
    font-weight: 300;
    font-size: small;
    padding-top: -16px;
}

.forgotPassword{
    display: flex;
    justify-content: flex-end;
    a{
        font-weight: 400;
        font-size: 0.8rem;
        text-decoration: none;
    }

}