<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">

        <ion-button (click)="updateJournal()">
          <ion-icon color="secondary" size="large" slot="icon-only" name="save"></ion-icon>
        </ion-button>

      </ion-buttons>

      <ion-buttons slot="end">

        <ion-button (click)="deleteJournal()">
          <ion-icon color="danger" size="large" slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>

      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="journal"> 
    <ion-item>
      <ion-input label="Title" [(ngModel)]="journal.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select
        label="Category"
        labelPlacement="stacked"
        [(ngModel)]="selectedCategoryId"
        placeholder="Select category">

        <ion-select-option *ngFor="let cat of categories" [value]="cat.id">
          {{ cat.title }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-textarea class="text-content" lines="none" [(ngModel)]="journal.content"></ion-textarea>

  </div>
</ion-content>
